.title
{
    font-weight: 400;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 70px;
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project1,
.project2,
.project3 {
    width: 250px;
    height: 200px;
    margin-left: 10px;
}

.project1-button,
.project2-button,
.project3-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border-style: none;
    border-radius: 5px;
    width: 250px;
    padding: 20px 10px;
}

.project1-button:hover,
.project2-button:hover,
.project3-button:hover {
    background-color: rgb(57, 150, 187);
    cursor: pointer;
}

.photo1-button,
.photo2-button,
.photo3-button {
   width: 100px;
    height: 100px;
    object-fit: cover;
   border-radius: 50px;
   padding: 10px 10px;  
}

.button-text {
    font-size: 16px;
}

.youtube-button-link,
.cat-photo-button-link,
.survey-menu-button-link {
    text-decoration: none;
}

.project-update {
    padding-top: 20px;
    padding-left: 100px;
}