.title {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 60px;
}

.box {
    padding-bottom: 70px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
}

.web-in-day {
    background-color: gray;
    width: 400px;
    border-radius: 10px;
}

.custom-web {
    background-color: gray;
    width: 600px;
    border-radius: 10px;
}

.services-title {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 30px;
    text-decoration: underline;
}

.body-text {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
    margin-left: 10px;
}

